.block {
  width: 100%;
  line-height: 1.5em;
  min-height: 1.5em;
  cursor: text;
}

.block:hover {
  background-color: whitesmoke;
}

.highlighted {
  background-color: #d1c4e9;
  text-decoration: none;
}
